@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: #718096;
}

h1 {
    font-size: 18px;
    color: #38b2ac;
    margin-bottom: 12px;
}

p {
    margin-bottom: 12px;
}

hr {
    border: 0.5px solid rgba(0,0,0,0.08);
    margin-bottom: 16px;
}

.card {
    max-width: 720px;
    padding: 24px;
    margin: 20px auto;
    border: rgba(0,0,0,0.08);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);
    border-radius: 5px;
}

table {
    width: 100%;
}

th {
    padding: 10px 20px;
    background-color: #38b2ac;
    color: white;
    text-align: left;
}

td {
    padding: 10px 20px;
    border: 1px solid #38b2ac;
}

button {
    font-size: 16px;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 5px;
    color: white;
    background-color: #ff9f7a;
    border: none;
    border-bottom: 2px solid #ff8b5e;
    cursor: pointer;
    transition: background-color 400ms ease-in-out;

}

button:hover {
    background-color: #ff8b5e;
}

button:active,
button:focus {
    outline: none;
    border: none;
}
